header{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    
    .menu-high-navbar { 
        width: auto;
        height: auto;
        margin: 0;
        background-color: rgba($color: $main-black, $alpha: 1);

        .navbar{
            list-style-type: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            padding: 1em 0 0 10vw;
            margin: 0;
        
            li{
                font-size: 1.5em;
                font-weight: 600;
                z-index: 1;
        
                text-shadow: 3px 3px 4px rgba($color: black, $alpha: .87);
        
                a:hover{
                    padding: 2px 8px;
                    filter: invert(1);
                    background-color: black;
                }
                
                .kl-logo-ul{
                    width:5em;
                    filter: invert(1);
        
                    &:hover{
                        filter: invert(1);
                        background-color: rgba($color: #000000, $alpha: 0);
                    }
                }
                .photo-href{
                    filter: none;
                    background-color: rgba($color: #000000, $alpha: 0);
                
                    &:hover{
                        filter: none;
                        background-color: rgba($color: #000000, $alpha: 0);
                    }
                    &:focus{
                        border: none;
                    }
                }
            }
         
    }
}



@media screen and (max-width: 980px) and (min-width: 769px){
    height: auto;
    background-size: 120%;
    background-position-x: center;
    background-position-y: 60%;

    h2{
        width: auto;
        height: auto;
        top: 35%;
        left: 40%;

        font-size: 64px;
    }
    .navbar{
        a{
            font-size: 20px;
            
            img{
                width: 5em;
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 500px){
    height: auto;
    background-size: 130vw;
    background-position-x: center;
    background-position-y: 60%;

    h2{
        width: auto;
        height: auto;
        top: 35%;
        left: 40%;

        font-size: 48px;
    }

    .menu-high-navbar { 

        .navbar{
        
            li{
                font-size: 1em;
                font-weight: 400;
                
                .kl-logo-ul{
                    width:6em;
                }
            }
        } 
    }
}

@media screen and (max-width: 499px){
    height: auto;
    background-size: 40em;
    background-position-x: center;
    background-position-y: 60%;

    h2{
        width: auto;
        height: auto;
        top: 30%;
        left: 40%;

        font-size: 32px;
    }

    .menu-high-navbar { 
        padding-left: 0;
        .navbar{
        
            li{
                font-size: 3.1vw;
                font-weight: 300;
                
                .kl-logo-ul{
                    width:4.5em;
                }
            }
        } 
    }
}
}