.navbar-scroll{
    list-style-type: none;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    padding: 0 0 0 0;
    top: -18px;
    width: 90%;

    transition: background-color .1s ;
    background-color: rgba($color: $main-black, $alpha: .87);

    li{
        font-size: 1em !important;
        font-weight: 600 !important;
        z-index: 999;

        transition: font-weight .1s ;
        text-shadow: 3px 3px 4px rgba($color: black, $alpha: .87);

        a:hover{
            padding: 2px 8px;
            filter: invert(1);
            background-color: black;
        }
        .kl-logo-ul{
            width: 4em !important;
        }
    }
}