@import '_mixins';
@import '_header';
@import '_footer';

*{
    a{
        text-decoration: none;
        color: white;
        transition: .4s;
        
        &:focus{
            outline: none;
            border: 2px solid white; 
        }
        &:hover{
            transition: .3s ease-in;
        }
    }
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: $main-black;
    color: white;
    // overflow-x: hidden;
}

.logo-invert{
    filter: invert(1);
}

.red-button{

    &:hover{
        background-color: white;
        color: $button-red-color;
    }
}

//----------------------------<<main
main{
    display: flex;
    position: relative;
    flex-flow: column nowrap    ;
    align-items: center;
    justify-content: center;
    padding: 3em 0;

    h1{
        font-size: 56px;
        font-weight: 600;
        width: 85%;

        border-bottom: 5px solid whitesmoke;
        border-radius: 5px;
    }

    .about-us__text-container{
        width: 85%;
        padding-bottom: 4em;

        h2{
            font-size: 36px;
            font-weight: 500;

        }
        p{
            font-size: 28px;
            font-weight: 200;
        }
    }
}

@media screen and (max-width: 980px) and (min-width: 769px){
    main{
        padding: 3em 0;

        h1{
            font-size: 52px;
        }

        .about-us__text-container{
            width: 85%;

            h2{
                font-size: 32px;

            }
            p{
                font-size: 26px;
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 500px){
    main{
        padding: 3em 0;

        h1{
            font-size: 46px;
        }

        .about-us__text-container{
            width: 85%;

            h2{
                font-size: 32px;

            }
            p{
                font-size: 23px;
            }
        }
    }
}

@media screen and (max-width: 499px){
    main{
        padding: 2em 0;

        h1{
            font-size: 38px;
        }

        .about-us__text-container{
            width: 85%;

            h2{
                font-size: 28px;

            }
            p{
                font-size: 18px;
                line-height: 1.5em;
            }
        }
    }
}