$footer-black: #080808;
$main-black: #111111;
$main-black-light: #141414;
$footer-black: #0e0e0e;
$button-red-color: #AF1717;
$main-white: #FFFFFF;
// for video after -->

// <-- for video:after
%h1-options-pc{
    font-size: 60px;
    font-weight: 700;
}
%h2-options-pc{
    font-size: 52px;
    font-weight: 600;
}
%h3-options-pc{
    font-size: 22px;
    font-weight: 600;
}
%p-options-pc{
    font-size: 22px;
    font-weight: 200;
}
%h3-options-note{
    font-size: 2vw;
    font-weight: 600;
}
%p-options-note{
    font-size: 1vw;
    font-weight: 200;
}
%text-shadow-option{
    text-shadow: 5px 5px 5px rgba($color: $main-black-light, $alpha: .87);
}

.button-style-red{
    width: 8em;
    text-align: center;
    padding: .5em 0;

    background-color: $button-red-color;

    @media screen and (max-width: 768px) and (min-width: 500px){
        width: 8em;
        padding: .7em 0;
    }
    @media screen and (max-width: 499px){
        width: 8em;
        padding: .4em 0;
        font-size: .85em;
    }
}


