.news h2 {
  font-size: 60px;
  font-weight: 700; }

.history .history-container h2, .qualityfood .qualityfood-container .h2-container {
  font-size: 52px;
  font-weight: 600; }

.info .info-first h3, .news .news-container .news-state h3 {
  font-size: 22px;
  font-weight: 600; }

.info .info-first p, .qualityfood .qualityfood-container p, .news .news-container .news-state p {
  font-size: 22px;
  font-weight: 200; }

.qualityfood .qualityfood-container .h2-container, .qualityfood .qualityfood-container p {
  text-shadow: 5px 5px 5px rgba(20, 20, 20, 0.87); }

.button-style-red {
  width: 8em;
  text-align: center;
  padding: .5em 0;
  background-color: #AF1717; }
  @media screen and (max-width: 768px) and (min-width: 500px) {
    .button-style-red {
      width: 8em;
      padding: .7em 0; } }
  @media screen and (max-width: 499px) {
    .button-style-red {
      width: 8em;
      padding: .4em 0;
      font-size: .85em; } }

header {
  width: 100%;
  height: 62em;
  overflow: hidden;
  position: relative;
  border-radius: 2px; }
  header .high-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    width: 100%;
    height: 44px;
    background-color: black; }
    header .high-bar img {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 11px;
      left: 50px;
      cursor: pointer; }
    header .high-bar h4 {
      position: absolute;
      top: -6px;
      left: 75px;
      border-bottom: dotted 2px white;
      cursor: pointer; }
    header .high-bar a {
      position: absolute;
      top: 5px;
      right: 45px;
      width: 8em;
      text-align: center;
      padding: .5em 0;
      background-color: #AF1717; }
  header .kl-logo {
    display: none; }
  header .option-icon {
    display: none;
    cursor: pointer; }
  header .navbar {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1vw 0 0 10vw; }
    header .navbar li {
      font-size: 1.5em;
      font-weight: 600;
      z-index: 1;
      text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.87); }
      header .navbar li a:hover {
        padding: 2px 8px;
        -webkit-filter: invert(1);
                filter: invert(1);
        background-color: black; }
      header .navbar li .kl-logo-ul {
        width: 10em; }
  header .video {
    position: absolute;
    top: 43px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media screen and (max-width: 980px) and (min-width: 769px) {
    header {
      height: 50em; }
      header .navbar li {
        font-size: 2vw; }
        header .navbar li img {
          width: 15vw; }
      header .video {
        width: 99.7%;
        height: 80%; } }
  @media screen and (max-width: 768px) and (min-width: 500px) {
    header {
      height: 46em; }
      header .high-bar {
        background-color: rgba(68, 68, 68, 0);
        height: auto;
        padding: 0; }
        header .high-bar .icon-location {
          width: 28px;
          height: 28px;
          top: 19px;
          left: 26px; }
        header .high-bar h4 {
          top: -10px;
          left: 55px;
          font-size: 1.4em; }
        header .high-bar a {
          top: 15px;
          right: 30px;
          width: 8em;
          padding: .7em 0; }
      header .kl-logo {
        display: block;
        position: absolute;
        width: 8em;
        top: 2.5em;
        left: 41%; }
      header .option-icon {
        display: block;
        position: fixed;
        top: 65px;
        right: 30px;
        width: 2.4em;
        -webkit-filter: invert(1);
                filter: invert(1);
        z-index: 2; }
      header .navbar {
        display: none;
        -webkit-transition: .4s ease-in;
        transition: .4s ease-in; }
        header .navbar li {
          font-size: 1.7vw; }
          header .navbar li img {
            display: none;
            width: 15vw; }
      header .navbar-open {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        margin: 0;
        padding: 7em 0 0 0;
        background-color: rgba(17, 17, 17, 0.87);
        z-index: 1; }
        header .navbar-open li {
          font-size: 1.5em;
          line-height: 5em; }
          header .navbar-open li img {
            display: none; }
      header .video {
        top: 13vh;
        width: 99.7%;
        height: 60%; } }
  @media screen and (max-width: 499px) {
    header {
      height: 35em; }
      header .high-bar {
        background-color: rgba(68, 68, 68, 0);
        height: auto;
        padding: 0; }
        header .high-bar .icon-location {
          width: 25px;
          height: 25px;
          top: 15px;
          left: 26px; }
        header .high-bar h4 {
          top: -5px;
          left: 55px;
          font-size: 1.1em; }
        header .high-bar a {
          top: 16px;
          right: 30px;
          width: 8em;
          padding: .4em 0;
          font-size: .85em; }
      header .kl-logo {
        display: block;
        position: absolute;
        width: 8em;
        top: 3.5em;
        left: 35vw; }
      header .option-icon {
        display: block;
        position: fixed;
        top: 65px;
        right: 5vw;
        width: 2.2em;
        -webkit-filter: invert(1);
                filter: invert(1);
        z-index: 2; }
      header .navbar {
        display: none; }
        header .navbar li {
          font-size: 1.7vw; }
          header .navbar li img {
            display: none;
            width: 15vw; }
      header .navbar-open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 13em;
        margin: 0;
        padding: 7em 0 0 0;
        background-color: rgba(17, 17, 17, 0.87);
        z-index: 1; }
        header .navbar-open li {
          font-size: 1.35em;
          line-height: 3em;
          -webkit-transition: .3s ease-in;
          transition: .3s ease-in; }
          header .navbar-open li img {
            display: none; }
      header .video {
        top: 16vh;
        width: 99.7%;
        height: 40%; } }

header:after {
  content: '';
  width: inherit;
  height: inherit;
  display: block;
  position: absolute;
  top: 43px;
  left: 0;
  opacity: .33;
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-size: 16px 16px; }
  @media screen and (max-width: 980px) and (min-width: 769px) {
    header:after {
      height: 40em; } }
  @media screen and (max-width: 768px) and (min-width: 500px) {
    header:after {
      top: 8em;
      height: 27.5em; } }
  @media screen and (max-width: 499px) {
    header:after {
      display: none; } }

.info {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 9em 0;
  line-height: 2em; }
  .info .info-first {
    height: 10em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .info .info-ordernow a {
    margin: 2em 0 0 0;
    font-size: 16px;
    padding: .5em 1em; }
  @media screen and (max-width: 980px) and (min-width: 769px) {
    .info {
      padding: 0 0 9em 0; }
      .info .info-first h3 {
        font-size: 2vw;
        font-weight: 600; }
      .info .info-first p {
        font-size: 2vw;
        font-weight: 200; }
      .info .info-first a {
        margin: 2vw 0 0 0;
        font-size: 1.75vw;
        padding: .8vw .5vw; } }
  @media screen and (max-width: 768px) and (min-width: 500px) {
    .info {
      padding: 0 0 5em 0;
      height: 45em;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .info .info-first h3 {
        font-size: 5vw;
        font-weight: 600; }
      .info .info-first p {
        font-size: 5vw;
        font-weight: 200;
        line-height: 1.5em; }
      .info .info-first a {
        margin: 7vw 0 0 0;
        font-size: 3.75vw;
        padding: 2.8vw 2.5vw; } }
  @media screen and (max-width: 499px) {
    .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 70em;
      padding: 0 0 10vw 15vw;
      width: 70vw; }
      .info .info-first {
        height: auto;
        padding: 1.5em 0; }
        .info .info-first h3 {
          font-size: 6.5vw;
          font-weight: 600; }
        .info .info-first p {
          font-size: 6.5vw;
          font-weight: 200;
          line-height: 1.5em; }
        .info .info-first a {
          margin: 7vw 4.8vw 0 4.8vw;
          font-size: 3.75vw;
          padding: 2.8vw 2.5vw; } }

.history {
  width: 100%;
  height: 58em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/makets/MAIN\ PAGE/history_fon.jpg);
  background-size: 120em;
  background-repeat: no-repeat;
  background-position: center 70%; }
  .history .history-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 52em;
    height: 46em;
    background-color: rgba(255, 255, 255, 0.72); }
    .history .history-container h2 {
      color: #111111;
      font-size: 2.3em;
      margin: 1.5vw 0; }
    .history .history-container p {
      text-align: center;
      font-size: 1.75em;
      font-weight: 300;
      color: black;
      padding: 0 2.5em;
      line-height: 1.5em; }
  @media screen and (max-width: 980px) and (min-width: 769px) {
    .history {
      height: 45em;
      background-size: 85em; }
      .history .history-container {
        width: 40em;
        height: 37em; }
        .history .history-container p {
          font-size: 1.35em; } }
  @media screen and (max-width: 768px) and (min-width: 500px) {
    .history {
      height: 35em;
      background-size: 70em; }
      .history .history-container {
        width: 28em;
        height: 30em; }
        .history .history-container h2 {
          font-size: 1.5em; }
        .history .history-container p {
          font-size: 1.05em; } }
  @media screen and (max-width: 499px) {
    .history {
      height: 120vw;
      background-size: 200vw; }
      .history .history-container {
        width: 70vw;
        height: 100vw; }
        .history .history-container h2 {
          font-size: 4vw; }
        .history .history-container p {
          font-size: 3vw; } }

.qualityfood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  height: auto;
  margin: 8em 0 0 0;
  background-color: #111111; }
  .qualityfood .qualityfood-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2em 0 5vw; }
    .qualityfood .qualityfood-container .h2-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 26px; }
    .qualityfood .qualityfood-container p {
      font-size: 28px;
      text-align: center;
      line-height: 1.5em;
      width: 40vw;
      margin: 6em 0 5em 0; }
    .qualityfood .qualityfood-container a {
      font-size: 24px; }
  .qualityfood .qualityfood--image {
    width: 49%;
    height: 50em;
    background-image: url(/makets/MAIN\ PAGE/menu_one_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  @media screen and (max-width: 980px) and (min-width: 769px) {
    .qualityfood .qualityfood-container {
      padding: 0 2em 0 5vw; }
      .qualityfood .qualityfood-container .h2-container {
        font-size: 20px; }
      .qualityfood .qualityfood-container p {
        font-size: 24px;
        width: 40vw;
        margin: 6em 0 5em 0; }
      .qualityfood .qualityfood-container a {
        font-size: 24px; }
    .qualityfood .qualityfood--image {
      height: 44em;
      background-position: 45% center; } }
  @media screen and (max-width: 768px) and (min-width: 500px) {
    .qualityfood {
      position: relative;
      height: 48em; }
      .qualityfood .qualityfood-container {
        z-index: 1;
        padding: 0; }
        .qualityfood .qualityfood-container .h2-container {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          font-size: 20px;
          margin: 3em 0 0 0; }
          .qualityfood .qualityfood-container .h2-container h2 {
            padding: 0 4vw; }
        .qualityfood .qualityfood-container p {
          font-size: 24px;
          width: 70vw;
          margin: 3.5em 0 1em 0; }
        .qualityfood .qualityfood-container a {
          font-size: 22px; }
      .qualityfood .qualityfood--image {
        position: absolute;
        height: 50em;
        width: 99.8%;
        top: 0;
        left: 0%;
        right: 100%;
        bottom: 100%;
        background-size: 70em;
        background-position: 20% .4em; } }
  @media screen and (max-width: 499px) {
    .qualityfood {
      position: relative;
      height: 40em; }
      .qualityfood .qualityfood-container {
        z-index: 1;
        padding: 0; }
        .qualityfood .qualityfood-container .h2-container {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          font-size: 3.5vw;
          margin: 3em 0 0 0; }
          .qualityfood .qualityfood-container .h2-container h2 {
            padding: 0 4vw; }
        .qualityfood .qualityfood-container p {
          font-size: 4.5vw;
          width: 70vw;
          margin: 2em 0 1.5em 0; }
        .qualityfood .qualityfood-container a {
          font-size: 3.5vw; }
      .qualityfood .qualityfood--image {
        position: absolute;
        height: 42em;
        width: 99.8%;
        top: 0;
        left: 0%;
        right: 100%;
        bottom: 100%;
        background-size: 62em;
        background-position: 30% .4em; } }

.news {
  background-color: #111111;
  padding-top: 2em; }
  .news h2 {
    margin-left: 4vw;
    margin-bottom: 1.5em; }
  .news .news-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    margin-bottom: 6em; }
    .news .news-container .news-state {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      position: relative;
      width: 20vw;
      height: auto; }
      .news .news-container .news-state h3 {
        margin: 0 0 .5em 0; }
      .news .news-container .news-state p {
        font-size: 20px;
        width: inherit;
        line-height: 1.5em; }
    .news .news-container .news-state::after {
      content: '';
      width: 100.5%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-right: 3px solid white; }
  @media screen and (max-width: 980px) and (min-width: 769px) {
    .news h2 {
      font-size: 48px; }
    .news .news-container {
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .news .news-container .news-state {
        width: 30vw; }
      .news .news-container .news-state:last-child {
        display: none; } }
  @media screen and (max-width: 768px) and (min-width: 500px) {
    .news h2 {
      font-size: 48px; }
    .news .news-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .news .news-container .news-state {
        width: 45vw;
        padding-bottom: 2em; }
      .news .news-container .news-state:nth-child(2n)::after {
        border: none; } }
  @media screen and (max-width: 499px) {
    .news {
      padding-top: 3em; }
      .news h2 {
        font-size: 36px;
        padding-left: 4vw;
        margin-bottom: 2em; }
      .news .news-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .news .news-container .news-state {
          width: 80vw;
          padding-bottom: 2em; }
        .news .news-container .news-state:nth-child(n)::after {
          border: none;
          border-top: 3px solid white;
          top: -15px; } }

footer {
  width: inherit;
  height: auto;
  background-color: #000000;
  display: grid;
  grid-template: 6em 9em 5em  / 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo  list-ul list-ul list-ul list-ul" "logo container container container container" "little-p little-p little-p little-p little-p"; }
  footer .kl-logo-footer {
    width: 20em;
    padding-top: 3em;
    padding-left: 5vw;
    grid-area: logo; }
  footer .navbar {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2em 0 0 0;
    grid-area: list-ul; }
    footer .navbar li {
      font-size: 1.3em;
      font-weight: 600; }
      footer .navbar li a:hover {
        padding: 2px 8px;
        -webkit-filter: invert(1);
                filter: invert(1);
        background-color: black; }
  footer .footer-div-container {
    grid-area: container;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5em 0 4.7vw; }
    footer .footer-div-container .subscribe-div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      footer .footer-div-container .subscribe-div h4 {
        font-size: 20px;
        font-weight: 500; }
      footer .footer-div-container .subscribe-div img {
        width: 3.5em;
        -webkit-filter: invert(1);
                filter: invert(1);
        border-radius: 30px;
        -webkit-transition-duration: .5s;
                transition-duration: .5s; }
        footer .footer-div-container .subscribe-div img:hover {
          -webkit-filter: invert(0);
                  filter: invert(0);
          background-color: white;
          padding: 7px;
          -webkit-transition: .4s;
          transition: .4s; }
    footer .footer-div-container a {
      font-size: 22px;
      font-weight: 300;
      text-align: center;
      padding: .5em 1em;
      border: 2px solid white; }
      footer .footer-div-container a:hover {
        background-color: white;
        color: black; }
  footer .footer-div-p-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-area: little-p; }
    footer .footer-div-p-container p:first-child {
      padding-left: 9em; }
    footer .footer-div-p-container p:last-child {
      font-size: 12px;
      font-weight: 200;
      opacity: .87;
      padding-right: .5vw; }
  @media screen and (max-width: 980px) and (min-width: 769px) {
    footer .kl-logo-footer {
      width: 12em;
      padding-top: 3em;
      padding-left: 2em; }
    footer .navbar {
      padding: 2em 0 0 0; }
      footer .navbar li {
        font-size: 1em; }
    footer .footer-div-container {
      padding: 0 5em 0 4.7vw; }
      footer .footer-div-container .subscribe-div h4 {
        font-size: 18px; }
      footer .footer-div-container .subscribe-div img {
        width: 2.8em; }
      footer .footer-div-container a {
        font-size: 20px;
        padding: .5em 1em; }
    footer .footer-div-p-container p:first-child {
      padding-left: 4em; }
    footer .footer-div-p-container p:last-child {
      font-size: 10px;
      font-weight: 200;
      opacity: .87;
      padding-right: .5vw; } }
  @media screen and (max-width: 768px) and (min-width: 500px) {
    footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      footer .kl-logo-footer {
        width: 18em;
        padding: 2em 0 2em 0;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
      footer .navbar {
        display: none; }
      footer .footer-div-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        padding: 0; }
        footer .footer-div-container .subscribe-div h4 {
          font-size: 18px; }
        footer .footer-div-container .subscribe-div img {
          width: 2.8em; }
        footer .footer-div-container a {
          font-size: 20px;
          margin: 1.5em 0;
          padding: .5em 1em;
          -webkit-box-ordinal-group: 0;
              -ms-flex-order: -1;
                  order: -1; }
      footer .footer-div-p-container {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap; }
        footer .footer-div-p-container p:first-child {
          padding: 0; }
        footer .footer-div-p-container p:last-child {
          font-size: 1.7vw; } }
  @media screen and (max-width: 499px) {
    footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      footer .kl-logo-footer {
        min-width: 14em;
        width: 40vw;
        padding: 2em 0 2em 0;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
      footer .navbar {
        display: none; }
      footer .footer-div-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        padding: 0; }
        footer .footer-div-container .subscribe-div h4 {
          font-size: 18px;
          text-align: center; }
        footer .footer-div-container .subscribe-div img {
          width: 2em; }
        footer .footer-div-container a {
          font-size: 20px;
          margin: 1.5em 0;
          padding: .5em 1em;
          -webkit-box-ordinal-group: 0;
              -ms-flex-order: -1;
                  order: -1; }
      footer .footer-div-p-container {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap; }
        footer .footer-div-p-container p:first-child {
          padding: 0; }
        footer .footer-div-p-container p:last-child {
          font-size: 12px; } }

* a {
  text-decoration: none;
  color: white;
  -webkit-transition: .4s;
  transition: .4s; }
  * a:focus {
    outline: none;
    border: 2px solid white; }
  * a:hover {
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in; }

body {
  font-family: 'Oswald', sans-serif;
  background-color: #111111;
  color: white; }

.logo-invert {
  -webkit-filter: invert(1);
          filter: invert(1); }

.red-button:hover {
  background-color: white;
  color: #AF1717; }

/*# sourceMappingURL=main.css.map */