@import '_mixins';
@import '_header';

*{
    a{
        text-decoration: none;
        color: white;
        
        &:focus{
            outline: none;
        }
    }
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: $main-black;
    color: white;
    // overflow-x: hidden;
}
